<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIA | TPQ Pesona Kahuripan 3</title>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />

</head>
<body>
    <hr />
    <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <h3>Selamat Datang di Sistem Informasi Akademik</h3>
          </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
              <h1>TPQ Pesona Kahuripan 3</h1>
            </div>
          </div>
      </div>
      <hr />
    <a class="btn btn-primary" href="/classrooms" role="button">Ruang Kelas</a>
    <a class="btn btn-primary" href="/mapels" role="button">Mata Pelajaran</a>
    <a class="btn btn-primary" href="/students" role="button">Daftar Siswa</a>
    <a class="btn btn-primary" href="/nilais" role="button">Daftar Nilai</a>
    <!-- <button type="button" class="btn btn-info">Info</button> -->
    <div id="primary" class="content-area col-sm-12 col-md-12">
        <main id="main" class="site-main" role="main">
    
    
                <article id="#">
                    <div class="entry-content">
                        ABCDEFG
                    </div><!-- .entry-content -->
                    HIJKLMN<footer class="entry-meta"><i class="fa fa-pencil-square-o"></i><span class="edit-link"></span></footer>
                </article><!-- #post-## -->
    
                    <div class="home-widget-area row">
    
                        <div class="col-sm-6 col-md-4 home-widget">
                            OPQRSTU
                        </div>
    
                        <div class="col-sm-6 col-md-4 home-widget">
                            VWXYZ
                        </div>
    
                        <div class="col-sm-6 col-md-4 home-widget">
                            QWERTY
                        </div>
    
                    </div>
    
        </main><!-- #main -->
    </div><!-- #primary -->

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
</body>
</html>